/*
 * Assignment 02
 * CSS FILE
 */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f4077;
  display: flex;
}

header {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
 color: black;
 font-family: 'Times New Roman', Times, serif;
 background-color: grey;
 size: 3px;
}

h2 {
  colour: grey;
  size: 1cm;
}

img {
 height: 5cm;
 width: 10cm;
}

ul {
  color: blue;
  background-color: rgb(255, 255, 255);
  display:flex;
  align-items: flex-start;
}
ul li:nth-child(1) {
  flex-grow: 1;
}

ul li:nth-child(2) {
  flex-grow: 2;
}

ul li:nth-child(3) {
  flex-grow: 3;
}

main {
  box-sizing: content-box; /* default*/
  width: 400px; /* to hold children*/
  border: 10px sold rgb(116, 66, 66);
  padding: 10px; 
}
.container {
  width: 250px;
  padding: 25px;
  border: 2px solid;
}

.line {
  width: 25px;
  border: 2px solid;  
}



